.film_container{
    overflow: hidden;
    display: flex;
    gap: 20px;
    padding: 20px;
    position: relative;
}
.film_container img{
    max-width: 350px;
}
.film_title{
    color: #2e2c4a;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.film_description{
    color: #2e2c4a;
    font-size: 1.2em;
    font-weight: 500;
}
.film_description::first-letter{
    margin-left: 20px;
    
}
.film_button{
    padding: 0.5em 1em;

    font-size: 1.2em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 0.4em;
    cursor: pointer;
    border: 2px solid #e1474a;
    background-color: #2e2c4a;
    color: whitesmoke;
    
}
.film_button:hover{
    background-color: #e1474a;
    border: 2px solid whitesmoke;
    color: #2e2c4a;
}
.film_flex{
    display: flex;
    justify-content: space-between;
}
.film_release{
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e1474a;
    text-shadow: 1px 1px #2e2c4a;
    display: inline-block;
}
.yas{
   
   font-size: 1em;
}
.film_oneriBox{
    margin-top: 10px;
    width: 80px;
    height: 140px;
    background-color: red;
}
@media only screen and (max-width:800px) {
    .film_container{
        flex-direction: row;   
        padding-bottom: 100px;
    }
    .film_container img{
        max-height: 425px;
        align-self: center;
    }
}
@media only screen and (max-width:600px) {
    .film_container{
        min-width: 380px;
        overflow: hidden;
        display: flex;
        gap: 20px;
        padding: 20px;
        padding-bottom: 100px;
        position: relative;
        flex-direction: column;
        
    }
    .film_container img{
        max-width: 350px ;
        align-self: center;

    }
}