*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.filmler_container{
    gap: 10px;
    list-style-type: none;
    width: 100%;
}
.filmler_ul{
    display: flex;
    width: 100%;
    gap: 35px;
    flex-wrap: wrap;
}
.filmler_title{
    padding: 20px 0;
}