*{box-sizing: border-box;}
.header{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #2e2c4a;

}
.list{
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 20px 0;
    font-size: 24px;
}
.list__li{
    color: whitesmoke;
    border: 2px solid #e1474a;
    background-color: #2e2c4a;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
.list__li:hover{

    border: 2px solid whitesmoke;
    color: #2e2c4a;
    background-color: #e1474a;
}

.search{
    width: 100%;
    padding: 10px 20px;
    font-size: 24px;
    outline: none;
    border: 2px solid #e1474a;
    border-radius: 0.3em;

}
.search::placeholder{
    color: #2e2c4a;
}
